@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

div img {
  margin: 0 auto;
  display: block;
}

.fixed {
  position: fixed;
  right: 100px;
  bottom: 130px;
  opacity: 0.6;
}

.fixed:hover {
  opacity: 1;
}

.fixed2 {
  position: fixed;
  right: 100px;
  bottom: 45px;
  opacity: 0.6;
}

.fixed2:hover {
  opacity: 1;
}